body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

body a {
    align-items: center;
    text-decoration: none;
    color:black;
    flex-direction: column;
    margin-top: 50px;
}

header {
    background-color: black;
}