.sommaire {
    border-radius: 10px;
    border: 1px solid black;
    width: max-content;
    padding-right: 10px;
}

body {
    display: block;
}

h2 {
    background-color: blue;
    color: white;
    text-align: center;
}

header {
    text-align: center;
}

body menu a{
    text-align:justify;
}