.sommaire {
    border-radius: 10px;
    border: 1px solid black;
    width: max-content;
    padding-right: 10px;
}

body {
    display: block;
}

body h2 {
    background-color: #0070D1;
    color: white;
    text-align: center;
    height: 3em;
}

header {
    text-align: center;
}

body menu a{
    text-align:justify;
}

footer {
    text-align: center;
}

footer a {
    margin-left: 1vw;
    color:white; 
}

footer {
    background-color: #0070D1;
    
}

.objet , .Acces , .propriete , .collecte , .modif , .responsabilite , .lien , .resiliation , .loi , .contact{
    background-color: lightgray;
    height: 50px;
    text-decoration: underline;
}
.connexion {
    display: flex;
    justify-content: flex-end;
}