body h1 {
    align-items:flex-end;

}

form, button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-color: red;
    border-radius: 10%;

}

body {
    flex-direction: column;
    background-image: url("../Image/images.jpeg");
}   

footer {
    display: flex;
    position: absolute;
    bottom: 1vw;
}

form {
    margin-top: 25vh;
}

fieldset {
    border-color: red;
}