.titre {
    background-color: white;
    text-align: center;
    border: solid black 1px;
    border-radius: 5%;
}

form, button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
    border-radius: 10%;
    list-style: none;

}

body {
    flex-direction: column;
    background-image: url("../Image/images.jpeg");
}

body a{
    text-align: center;
    margin-top: 25vh;
    color: black;
    background-color: white;
    text-decoration: none;
}

form {
    margin-top: 25vh;
}

fieldset {
    list-style: none;
    background-color: white;
    border-color: black;
    border-radius: 10%;
    padding: 10%;
}

footer {
    display: flex;
    position: absolute;
    bottom: 1vw;
}