.bloc1 , .bloc2 , .bloc3 {
    display: flex;
}

.bloc1un {
    margin-left: 2%;
    width: 500vw;
}

.bloc1deux {
    width: 500vw;
    margin-right: 2%;
}

.bloc2un {
    width: 500vw;
    margin-left: 2%;
}

.bloc2deux {
    margin-right: 2%;
    width: 500vw;
}

.bloc3un {
    margin-left: 2%;
    width: 500vw;
}

.bloc3deux {
    width: 500vw;
    margin-right: 2%;
}

.premiereImage {
    width: 100%;
}

.deuxiemeImage {
    width: 100%;
}

.troisiemeImage {
    width: 50%;
}

