body{
    background-image: url(../Image/images.jpeg)
}

.location-titre{
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 1px 7px black;
    
}

section{
    background-color: white;
    border: solid black 1px;
}