header{
    position: sticky;
    top: 10px;
    align-items: center;
    background-color: white;
    height: 110px;
    padding-bottom: 2px;
}

.logo-connexion {
    display: flex;
    
}

.navtop-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navleft {
    width: 6%;
    margin-right: 35px ;
}

.Bouh{
    width: 100%;
    background-color: white;
}

.navright {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    padding-left: 1%;
}

.logo-playstation {
    margin: 5px 0 0 5px;
}

.logo-connexion {
    width: 50px;
    margin: 15px 10px 10px 10px;
}

.bouton{
    background-color: #0070D1;
    color: white;
    border-radius: 10px;
}

.banderole{
    display: inline-flex;
    flex-direction: row;
    padding: 4px;
    font-size:x-large;
    background-color: white;
}


header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    color: #0070D1;
}

body{
    background-image: url(../Image/images.jpeg);
}

section{
    border: solid black 2px;
}

#corps h1{
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 1px 7px black;
    
}

.covoiturage{
    background-color: black;
    display: flexbox;
}

.covoiturage-titre{
    text-align: center;
    font-size: x-large;
    border: gray 2px solid;
    margin-top: 0px;
    background-color: black;
    color: white;
    
}

.covoiturage-corps{
    color: white;
}

#location{
    background-color: white;
}

.location-titre{
    text-align: center;
    font-size: x-large;
    border: gray 2px solid;
    margin-top: 0px;
    color: black;
    
}

.location-corps{

}

#trajets{
    background-color:black;
}

.trajet-titre{
    text-align: center;
    font-size: x-large;
    border: gray 2px solid;
    background-color: black;
    color: white;
    
}

.trajet-corps{
    color: white;
}

.savoir-plus a{
    border: 2px solid black;
    border-radius: 20%;
    background-color: #0070D1;
    color: white;
    padding: 3px;
    text-decoration: none;
}

footer{
    position: sticky;
    bottom: 10px;
    border:3px solid black;
    background-color: #0070D1;
    height: 102px;
}

.footer-right{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 5%;
    padding-bottom: 7%;
    color: white;
}

footer a:hover{
    color: #98c2e7;
}

footer a{
    color: white;
    align-items: center;
    text-decoration: none;
}
.footer-left{
    position:sticky;
    bottom: 0;
    border: black solid 1px;
    display: inline;
    float: left;
}